*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


.hover:hover{
    color: pink;;
}

.container{
    /*border: solid red ;*/
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
}

.container > *{
    margin-top: 100px;
}


/*side bar*/
.sidebar{
    grid-column: 1/4;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    padding-left: 50px;
    position: fixed;
}

.site-header{ /*header and name*/
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.name{
    font-size: 20px;
    font-weight: 300;
}


.menu-toggle{ /*toggle for menu in mobile mode*/
    all: unset;
    display: none;
}


.nav-menu-container{ /*Menu options*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.nav-menu{
    display: flex;
    flex-direction: column;
    
}

.nav-menu > li{
    font-size: 15px;
    margin-bottom: 20px;
}

.dropdown-toggle{
    all: unset;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}


.work{
    display: flex;
    flex-direction: column;
}

.sub-menu{
    display: none;
    padding-left: 30px;
    
}

.sub-menu > li{
    margin-bottom: 20px;
}

.toggle-right{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.no-toggle{
    padding-bottom: 12px;
}

.toggle-open{
    display: block;
}



/*images and content*/

.content{
    /*border: solid orange;*/
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px;
    padding-right: 100px; /* Optional padding */
    grid-auto-flow:dense;
    margin-bottom: 10px;
}

.content-three-grid{
    /*border: solid orange;*/
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* 4 columns */
    grid-gap: 40px;
    padding-right: 100px; 
    grid-auto-flow: dense; 
    margin-bottom: 40px;
    
}

.content-four-grid{
    /*border: solid orange;*/
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr)); /* 4 columns */
    grid-gap: 40px;
    padding-right: 100px; 
    grid-auto-flow: dense; 
    margin-bottom: 40px;
    
}

.you-and-i{
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-gap: 20px;
    padding-right: 100px; /* Optional padding */
    grid-auto-flow:dense;
    margin-bottom: 10px;
}


.gallery-item {
    width: 100%; /* Ensures images take full width of the column */
    overflow: hidden;
}

.gallery-item img {
    width: 100%; /* Ensures images fit within their grid item */
    height: auto; /* Maintains aspect ratio */
    background-color: rgb(227, 227, 227);
}

.gallery-item.horizontal{
    grid-column: span 2;
}

.back-to-top{

    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 35px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-family: cursive;
    font-size: 20px;
    color:  rgb(165, 165, 165);
}

.content-title{
    font-weight: normal;
    color: rgb(114, 103, 81);
    padding-top: 50px;
}

.content-title.center{
    justify-content: center;
}



/* Lightbox Styling */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Higher than other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.toggle-open2{
    display: flex;
}  

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    user-select: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
/*Responsive*/

@media (max-width:  1024px) {

    .container{
        padding: 0;
    }
    .container > *{
        margin-top: 40px;
    }

    .sidebar{
        grid-row: 2/12;
        margin: 0px;
        margin-left: 30px;
        padding-bottom: 80px;
        padding: 0px;
        position: relative;

    }
    .site-header{
        margin-bottom: 10px;
        width: 250px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        
    }

    .name{
        font-size: 25px;
    }

    .menu-toggle{ /*toggle for menu in mobile mode*/
        display: block;
        font-size: 35px;
        
    }

    .nav-menu{
        display: none;
    }

    .content, .content-three-grid, .content-four-grid, .you-and-i{
        grid-column: 4/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-gap: 20px;
        margin-right: 100px;
        grid-auto-flow:dense;
        margin-bottom: 10px;
    }
    .gallery-item.horizontal{
        grid-column: 1/12;;
    }

    .gallery-item{
        grid-column: 1/12;
    }

    .toggle-open{
        display: block;
    }   

}






